<IfModule mod_rewrite.c>
    RewriteEngine On

    # JANGAN SENTUH FILE DI ASSETS (fix)
    RewriteCond %{REQUEST_URI} ^/assets_frontend/ [NC]
    RewriteRule .* - [L]

    # Jika file atau folder nyata, langsung Akses
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule .* - [L]

    # Route lainnya masuk ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
